* {
    font-family: "Helvetica", sans-serif;
    padding: 0;
    margin: 0;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1.45rem;
}

.asam,
.gudeg,
.lodho {
    height: auto;
    width: 30rem;
}

.description {
    width: 30rem;
}

.btn {
    margin-top: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    letter-spacing: -.05rem;
    font-weight: 700;
    width: max-content;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: rgba(255, 145, 18, 0.881);
}

/* NAVBAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 2rem;
    background-color: rgba(107, 142, 35, .2);
    margin-bottom: 3rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

nav li {
    cursor: pointer;
}

nav img {
    height: auto;
    width: 16rem;
}

.container a {
    text-decoration: none;
    color: black;
}

.container h3 {
    padding: .5rem 0rem 1rem 0rem;
}

.container p {
    text-align: start;
}

/* FOOTER */

footer p {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
